* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.trybewarts-header-logo {
  width: 80px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  gap: 5px;
}

main {
  display: flex;
  margin-top: 100px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;

  /* border: 1px solid  rgb(50, 167, 145); */
  gap: 10px;
  margin-top: 15px;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-end;
}

.form-container {
  display: flex;
  gap: 30px;
}

.btn-form {
  width: 100px;
}

#form-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 183, 127);
  border-radius: 40px;
  width: 300px;
  margin: 0 30px;
}

footer {
  background-color: rgb(50, 167, 145);
  color: white;
  padding: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
